{% extends 'board/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

<!-- Фильтр постов -->
<div class="btn-group mb-3">
    <a href="?filter=all" class="btn btn-secondary">Все</a>
    <a href="?filter=published" class="btn btn-secondary">Опубликованные</a>
    <a href="?filter=draft" class="btn btn-secondary">Черновики</a>
</div>

<ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description|truncatewords:30 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-link">Читать пост</a>
        </li>
    {% empty %}
        <li class="list-group-item">Нет записей.</li>
    {% endfor %}
</ul>
<a href="{% url 'photo_create' %}" class="btn btn-primary mt-3">Добавить новый пост</a>
{% endblock %}
