{% extends 'board/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3">
{% endif %}
<p>{{ post.description|linebreaks }}</p>
<p class="text-muted">Опубликовано: {{ post.is_published|yesno:"Опубликовано,Черновик" }}</p>

<hr>
<a href="{% url 'photo_edit' post.slug %}" class="btn btn-warning">Редактировать</a>
<a href="{% url 'photo_delete' post.slug %}" class="btn btn-danger">Удалить</a>
{% endblock %}
