{% extends "board/base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h4 class="mb-3 text-center">Восстановление пароля</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-info w-100">Отправить ссылку</button>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                <a href="{% url 'users:login' %}">Войти</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %} 