{% extends "board/base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h4 class="mb-3 text-center">Установка нового пароля</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-info w-100">Изменить пароль</button>
        </form>
    </div>
</div>
{% endblock content %} 